.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #5F8B4C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    flex-wrap: nowrap;
  }
  
  .navbar-left {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
  }
  
  .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #5F8B4C;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
    background-color: #ffffff; /* Yellow border */
  }
  
  .navbar-menu {
    font-size: 16px;
    display: flex;
    gap: 20px;
    background-color: #5F8B4C;
    color: #ffffff !important; /* Override Ant styles */
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #ffffff !important; /* Fix for white links */
    transition: all 0.3s ease;
  }
  
  .navbar-menu a:hover {
    color: #FFA725 !important; /* Yellow on hover */
  }
  
  .navbar-menu .ant-menu-item::after {
    border-bottom: 2px solid transparent !important; /* No underline by default */
    transition: border-color 0.3s ease;
  }
  
  .navbar-menu .ant-menu-item:hover::after,
  .navbar-menu .ant-menu-item-active::after,
  .navbar-menu .ant-menu-item-selected::after {
    border-bottom: 2px solid #FFA725 !important; 
  }

  .login-link {
    position: relative;
    display: inline-block;
    color: #5F8B4C;
    padding: 6px 16px;
    border: 2px solid #FFA725;
    background-color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
  }

  .login-link span{
    color: #5F8B4C;
    font-size: 15px;
    font-weight: 500;
  }
  
  /* Yellow Underline directly under the text on hover */
  